<template>
  <div>
    <ClientOnly>
      <VideoPlayer v-if="active" :scale="tScale" :source="source" :zoom="tZoom" :style="{ opacity: tOpacity }">
      </VideoPlayer>
    </ClientOnly>
    <AppHeader></AppHeader>
    <NuxtPage class="app-content"></NuxtPage>
  </div>
</template>

<script setup>
import { TransitionPresets } from '@vueuse/core'
const { t, locale } = useI18n()
const { active, scale, source, zoom, opacity, enablePlayer, disablePlayer } = usePlayer()

const tScale = useTransition(scale, {
  duration: 2000,
  transition: TransitionPresets.easeInOutQuad
})

const tZoom = useTransition(zoom, {
  delay: 1000,
  duration: 2000,
  transition: TransitionPresets.easeInOutQuad
})

const tOpacity = useTransition(opacity, {
  duration: 2000,
  transition: TransitionPresets.easeInOutQuad,
  onStarted: () => { if (opacity.value > 0) enablePlayer() },
  onFinished: () => { if (opacity.value == 0) disablePlayer() },
})

const config = useRuntimeConfig()

useServerSeoMeta({
  title: "Sofia Merelli",
  ogTitle: "Sofia Merelli",
  description: () => t('description'),
  ogDescription: () => t('description'),
  image: 'https://res.cloudinary.com/djma2xwfx/image/upload/v1705014533/sofiamerelli.com/Frana-Futura/Cave5_cmvwod.webp',
  ogImage: 'https://res.cloudinary.com/djma2xwfx/image/upload/v1705014533/sofiamerelli.com/Frana-Futura/Cave5_cmvwod.webp',
  url: config.public.frontend,
  ogUrl: config.public.frontend,
  twitterCard: "summary_large_image",
});

useSeoMeta({
  description: computed(() => t('description')),
  ogDescription: computed(() => t('description'))
})

useHead({
  htmlAttrs: { lang: () => locale.value },
  titleTemplate: (title) => title == 'Sofia Merelli' ? 'Sofia Merelli' : `${title} — Sofia Merelli`
});


</script>


<style lang="postcss">
.app-content {
  margin: 8rem;

  &>* {
    max-width: 80ch;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .app-content {

    margin: 6rem 0;

    &>* {
      width: 100%;
      max-width: 80ch;
    }
  }
}
</style>
