<template>
    <div class="work" v-if="work">
        <header>
            <template v-if="work.vimeo_id">
                <div class="watch">
                    <ClientOnly>
                        <vueVimeoPlayer class="player" ref="player" :video-id="`${work.vimeo_id}`"
                            :options="{ byline: false, title: false, portrait: false, responsive: true }">
                        </vueVimeoPlayer>
                    </ClientOnly>
                </div>
            </template>
            <template v-else-if="work.cover">
                <img :src="work.cover" loading="lazy" class="cover" />
            </template>

            <!-- Nice snippet for multi-line SVG text 
                <svg>
                    <text x="50%" y="40%" text-anchor="middle">
                        <tspan v-for="(line, index) in (work.full_title || work.title).split('\n')" x="50%"
                        :dy="index > 0 ? '0.8em' : 0">
                        {{ line }}
                    </tspan>
                </text>
            </svg> -->

            <h2 class="title">{{ work.full_title || work.title }}</h2>
        </header>
        <main>

            <div class="meta">
                <div class="format">
                    <span v-if="work.running_time">{{ work.running_time }}</span>
                    <span v-if="work.format">{{ work.format }}</span>
                </div>
                <div class="format">
                    <div v-if="work.language">{{ work.language }}</div>
                    <div v-if="work.location">{{ work.location }}</div>
                    <div v-if="work.year">{{ work.year }}</div>
                </div>
            </div>
            <ContentRenderer class="content" :value="work"></ContentRenderer>
        </main>
    </div>
</template>

<script setup>
import { vueVimeoPlayer } from 'vue-vimeo-player'

const route = useRoute()
const { locale } = useI18n()
const slug = ref(route.params.slug)

const { data: work } = await useAsyncData(slug.value, () => queryContent('works').where({ slug: slug.value }).locale(locale.value).findOne())

const player = ref(null)


const { setOpacity } = usePlayer()
setOpacity(0)

useContentHead(work)



</script>

<style lang="postcss">
.work {

    header {

        height: 100dvh;
        width: 100%;
        max-width: 100%;

        position: absolute;
        top: 0;
        left: 0;

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .player,
        .cover {
            width: 60vw;
            max-height: 75dvh;
            object-fit: contain;
        }

    }

    .title {
        font-size: 2rem;
        margin: 2.5rem 0;
        margin-bottom: 5rem;
        white-space: pre-wrap;
        line-height: 1;
        font-family: "Ortica";
        opacity: 1;
        text-transform: none;
        text-align: center;
    }



    main {

        max-width: 65ch;
        margin-top: 90dvh;
        line-height: 1.4;

        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        img+img {
            margin: 0;
            margin-top: 0.25rem;
        }

        img:first-of-type {
            margin-top: 3rem;
        }

        video.watch {
            width: 100%;
            object-position: center;
            background-color: currentColor;
            padding: 0;
            margin: 0;
        }



        .meta {
            /* padding-left: 0; */
            font-size: 0.75rem;
            font-family: sans-serif;
            text-transform: uppercase;
            /* opacity: 0.4; */
            margin: 1em 0;
            line-height: 0.75;

        }

        .format {
            display: flex;
            gap: 1ch;
            /* padding: 0; */
        }
    }
}

@media screen and (max-width: 1024px) {

    .work {

        margin: 0;
        margin-top: 4rem;
        margin-bottom: 1rem;

        header {
            margin: 0;
            height: auto;
            position: relative;

            &>* {
                flex: 1;
                width: 100%;
            }

            .cover,
            .player {
                max-width: 100%;
                width: 100%;
            }

        }


        .title {
            margin: 1.5rem 0;

        }

        main {

            max-width: 100%;
            margin-top: 0;
        }


    }




}
</style>