<template>
    <main>
        <section class="film">
            <h2>{{ t('films') }}</h2>
            <ul class="works-list">
                <li v-for="work in data.filter(work => !work.other)">
                    <NuxtLink :to="localePath(`/works/${work.slug}`)">
                        {{ work.title }}
                    </NuxtLink>
                    <span class="year" v-if="work.year">{{ work.year }}</span>
                </li>
            </ul>
        </section>
        <section>
            <h2>{{ t('other') }}</h2>
            <ul class="works-list">
                <li v-for="work in data.filter(work => work.other)">

                    <NuxtLink :to="localePath(`/works/${work.slug}`)">
                        {{ work.title }}
                    </NuxtLink>

                    <span class="year" v-if="work.year">{{ work.year }}</span>

                </li>
            </ul>
        </section>
        <NuxtPage></NuxtPage>
    </main>
</template>

<script setup>

const { locale, t } = useI18n()
const localePath = useLocalePath()
const { data } = await useAsyncData('works', () => queryContent('works').locale(locale.value).without('body').sort({ year: -1 }).find())

const { setOpacity, setScale, setZoom } = usePlayer()
setOpacity(1)
setScale(0.5)
setZoom(0.999)

useHead({
    title: () => t('works')
});

</script>

<style lang="postcss">
.works-list {
    font-size: 1.5rem;
    list-style: none;

    a:hover {
        /* text-decoration: underline; */
        color: white;
        cursor: pointer;
    }

    .year {
        font-family: sans-serif;
        font-size: 0.75rem;
        margin-left: 0.5rem;
        opacity: 0.5;
    }

}
</style>