<template>
    <nav>
        <h1>
            <nuxt-link :class="{ highlight: active }" class="title" :to="localePath('/')">
                Sofia Merelli
            </nuxt-link>
        </h1>

        <nuxt-link :class="{ highlight: active }" class="works" :to="localePath('/works')">{{ t('works') }}</nuxt-link>
        <nuxt-link :class="{ highlight: active }" class="about" :to="localePath('/about')">{{ t('about') }}</nuxt-link>
        <div :class="{ highlight: active }" class="locale">
            <NuxtLink v-for="locale in availableLocales" :key="locale.code" :to="switchLocalePath(locale.code)">{{
                locale.code
            }}</NuxtLink>
        </div>
    </nav>
</template>

<script setup>
const { active } = usePlayer()
const { t, locale, locales } = useI18n();
const localePath = useLocalePath()
const switchLocalePath = useSwitchLocalePath()

const availableLocales = computed(() => {
    return (locales.value).filter(i => i.code !== locale.value)
}) 
</script>

<style lang="postcss">
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;

    z-index: 1000;

    font-size: 2rem;
    padding: 1rem;
    pointer-events: none;


    &>* {
        pointer-events: all;
    }

    .title,
    .works,
    .about,
    .locale {
        position: absolute;
        font-weight: normal;
        display: inline-block;
        backdrop-filter: blur(10px);
        border-radius: 1rem;
        margin: 0;
        padding: 0 1rem;
        padding-top: 0.5rem;
        font-size: 2rem;
        line-height: 1;
        transition: background-color 0.2s;
    }



    .title {
        top: 1rem;
        left: 1rem;
    }

    .works {
        top: 1rem;
        right: 1rem;
    }

    .about {
        bottom: 1rem;
        left: 1rem;
    }

    .locale {
        bottom: 0.75rem;
        right: 1rem;
        font-size: 1.5rem;
        font-family: sans-serif;
        border: none;
        padding: 0.5rem 1rem;
        background: transparent;
        cursor: pointer;
        text-transform: uppercase;

    }



}

@media screen and (max-width: 1024px) {
    nav {
        padding: 0.5rem;

        .title,
        .works,
        .about,
        .locale {
            font-size: 1.25rem;
            padding: 0.25rem 0.7rem;
            background-color: rgba(0, 0, 0, 0.04);
        }

        .locale {
            font-size: 1.125rem;
            line-height: 1.7;
            padding: 0rem 0.5rem;
        }
    }
}

@media (hover: hover) {
    .highlight:hover {
        color: white;
    }
}
</style>