@font-face {
	font-family: "Ortica";
	src: url("/font/OrticaLinear-Light.woff2") format("woff2");
	font-weight: regular;
}

@font-face {
	font-family: "Ortica";
	src: url("/font/OrticaLinear-Bold.woff2") format("woff2");
	font-weight: bold;
}
