* {
	box-sizing: border-box;
}

html,
body {
	font-size: 1.125rem;
	line-height: 1.6;
	font-family: "Ortica";
	color: #30363d;
}

a {
	text-decoration: none;
	color: currentColor;
}

h1,
h2,
h3 {
	font-weight: normal;
}

section,
main > * {
	margin-top: 0;

	& > * {
		padding-left: 1rem;
		margin-top: 0.5rem;
	}

	h2,
	h3 {
		padding-left: 0;
		font-size: 1rem;
		font-family: sans-serif;
		text-transform: uppercase;
		opacity: 0.4;
		margin: 0;
		margin-top: 3rem;
	}
}

section + section {
	margin-top: 3rem;
}

.content ul {
	list-style: none;
	margin: 0.5rem auto;
	font-size: 1rem;
	line-height: 1.4;
	white-space: pre-wrap;
}

.content ul li + li {
	margin-top: 0.5rem;
}

.content p a {
	opacity: 0.5;
}

.content a:hover {
	filter: blur(2px);
}

.content h2 a:hover {
	filter: none;
}

@media screen and (max-width: 1024px) {
	html,
	body {
		font-size: 1rem;
		margin: 0;
	}

	main {
		padding: 1rem;
	}

	section,
	main > * {
		& > * {
			padding-left: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		h2,
		h3 {
			margin-top: 2rem;
		}
	}
}
