<template>
    <main>
        <ContentRenderer class="content" :value="data" />
    </main>
</template>

<script setup>

const { locale, t } = useI18n()
const { data } = await useAsyncData('about', () => queryContent('about').locale(locale.value).findOne())

const { setScale, setZoom } = usePlayer()
setScale(0.01)
setZoom(0.9999)

useHead({
    title: () => t('about')
})

</script>

<style lang="postcss" scoped>
p {
    line-height: 1.7;
    font-size: 1.25rem;
}

p+p {
    margin-top: 2rem;
}
</style>

